/* LAPTOPS (1024px) */

@media (max-width: 64em) {
  .centered-container {
    /* max-width: 110rem; */
  }

  .clipboard-features__container {
    gap: 4.8rem;
    /* padding: 0 3.2rem; */
  }

  .clipboard-features__img-box {
    margin-left: -8rem;
  }

  .clipboard-features__img {
    width: 95%;
  }

  .clipboard-partners__container {
    gap: 4.8rem;
  }

  .cl-footer-inner {
    gap: 5rem;
  }
}

@media (max-width: 58.6875em) {
  html {
    /* font-size: 56.5%; */
  }

  .clipboard-access__img {
    width: 90%;
  }
}

@media (max-width: 51.25em) {
  .clipboard__nav {
    gap: 4.2rem;
  }

  .clipboard-footer {
    font-size: 1.4rem;
  }
}

@media (max-width: 50em) {
  html {
    /* font-size: 50%; */
  }

  .clipboard-tool--icon {
    width: 4rem;
  }

  .cl-footer-inner {
    gap: 4.2rem;
  }
}

@media (max-width: 43.75em) {
  .clipboard-features__container {
    flex-direction: column;
  }

  .clipboard-features__img-box {
    margin: 0;
  }

  .clipboard-features__img {
    width: 80%;
  }

  .clipboard-features {
    text-align: center;
  }

  .cl-footer-inner {
    gap: 4.2rem;
  }
}

@media (max-width: 40.1875em) {
  .section-hd-container {
    /* padding: 0 2.4rem; */
  }

  .heading-primary {
    /* font-size: 4rem; */
  }

  .clipboard__nav {
    gap: 3.2rem;
  }
}

@media (max-width: 26.75em) {
  body {
    background: url(../images/bg-header-mobile.png) top/100% no-repeat;
  }

  .clipboard-header {
    padding-top: 17rem;
  }

  .clipboard__header-logo-box {
    margin-bottom: 8rem;
  }

  .clipboard-logo {
    width: 16rem;
  }

  .heading-primary {
    font-size: 3.7rem;
    line-height: 1.5;
  }

  .heading-secondary {
    font-size: 3.2rem;
    line-height: 1.5;
  }

  .heading-tertiary {
    font-size: 2.8rem;
  }

  .description {
    font-size: 1.9rem;
  }

  .clipboard__buttons-box {
    flex-direction: column;
    gap: 3rem;
    /* padding: 0 3.2rem; */
  }

  .btn:link,
  .btn:visited {
    font-size: 2rem;
  }

  .clipboard-features__img {
    width: 100%;
  }

  .clipboard-access__img {
    width: 100%;
  }

  .clipboard-tools {
    grid-template-columns: 1fr;
    row-gap: 5.2rem;
  }

  .clipboard-partners__container {
    flex-direction: column;
    gap: 8rem;
  }

  .cl-footer-inner {
    flex-direction: column;
    align-items: center;
  }

  .clipboard__nav {
    flex-direction: column;
  }
  .clipboard__nav-box {
    align-items: center;
  }

  .clipboard-footer__socials {
    margin: 0;
  }

  .clipboard-footer {
    font-size: 1.9rem;
  }

  .cl-footer-inner {
    gap: 5rem;
  }

  .attribution {
    font-size: 1.5rem;
  }
}

@media (max-width: 24.375em) {
  html {
    font-size: 55%;
  }
}
