/* HEADER */
.clipboard-header {
  padding-top: 12rem;
}

.clipboard__header-logo-box {
  margin-bottom: 4.8rem;
}

.clipboard-logo {
  width: 11rem;
}

.clipboard-about {
  font-size: 1.9rem;
  line-height: 1.6;
}

/* FEATURES */

.section__clipboard-features {
  padding: 0 3.2rem;
}

.clipboard-features__container {
  margin-top: 8.2rem;

  display: flex;
  align-items: center;
  gap: 9.6rem;
}

.clipboard-features__img-box {
  margin-left: -7rem;
}

.clipboard-features {
  text-align: left;

  max-width: 35rem;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

/* ACCESS */

.clipboard-access__img-box {
  margin-top: 9.6rem;
}

/* TOOLS */

.section__clipboard-tools {
  margin-top: 6.4rem;
}

.clipboard-tools {
  /* min-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
  column-gap: 3.2rem;
  margin-top: 6.4rem;
}

.clipboard-tool--icon-box {
  margin-bottom: 3.2rem;
}

.clipboard-tool .heading-tertiary {
  margin-bottom: 2.4rem;
}

/* PARTNERS */

.clipboard-partners__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 9.6rem; */
}

.clipboard-partner {
  width: 100%;
}

/* AVAIL ON */

/* .section_clipboard-available-on {
  margin-bottom: 15.8rem;
} */

/* FOOTER */

.clipboard-footer {
  background-color: #eee;
  padding: 4.8rem 0;

  font-size: 1.9rem;
}

.cl-footer-inner {
  display: flex;
  align-items: center;
  gap: 9.6rem;
}

.clipboard-footer__logo {
  width: 6.2rem;
}

.clipboard__nav {
  display: flex;
  gap: 9.6rem;
}

.clipboard__nav-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  color: var(--dark-grayish-blue);
  transition: all 0.3s ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  color: var(--strong-cyan);
}

.clipboard-footer__socials {
  margin-left: auto;

  display: flex;
  gap: 2rem;

  font-size: 2.4rem;
}

.footer-nav-link-social:hover {
  stroke: var(--strong-cyan);
}

/* FM - coded  by */

.attribution {
  padding: 1rem;
  font-size: 1.8rem;
}

.attribution a {
  color: var(--strong-cyan);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.attribution a:hover {
  color: var(--dark-grayish-blue);
}
